<div class="card">

<h1>New event</h1>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to raw("<i class=\"glyphicon glyphicon-arrow-left\"> Back</i>"), 
          events_path, 
          class: "btn btn-inverse"%>
</div>

</div>