<div class="card">

<h1>New event</h1>

<%= render 'form' %>

<div class="btn-group">
  <a class="btn btn-inverse" onClick="history.go(-1);return true;"><i class="glyphicon glyphicon-arrow-left" > Back</i></a>
</div>

</div>